.suggestionPortal {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  width: 200px;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  margin-top: 1.2rem;
  margin-left: -0.2rem;

}

.suggestionPortal ul {
  list-style-type: none;
  margin-top: 0;
  position: relative;
  padding-left: 0;
  margin-bottom: 0;
}

.suggestionPortal li {
  padding: 5px 10px;
}