.block1 {
  align-self: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  color: rgb(156, 156, 209);
  font-style: italic;
  text-transform: uppercase;
  font-family: "Courier Prime", Courier, monospace;
}